html {
  height: 100%;
}

body {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  margin: 0;
  height: 100%;
  display: grid;
  place-items: center;
}

#game {
  background-color: black;
  width: 100%;
  max-width: 576px;
  height: 100%;
  max-height: 100vh;
}
